* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif; /* Set the default font for the body */
  font-size: 14pt; 
  background-color: #f6f7f8; /* Background color for the body */
  margin: 18px;
  color: #072635;
}
.container {
  position: relative; /* Positioning the body */
  top: 0px;
  left: 0px;
  width: 1600px;
  width: 100%;
  height: 1160px;
  background: #f6f7f8 0% 0% no-repeat padding-box; /* Light gray background */
  opacity: 1;
}



/* Default for mobile */
.navbar {
  position: relative;
  /* top: 18px; */
  /* left: 18px;
    right: 38px; */
  width: 100%; /* Full width on smaller screens */
  max-width: 100vw; /* Prevent overflow */
  height: 72px;
  background-color: #ffffff;
  border-radius: 20px; /* Smaller border-radius for mobile */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
}

/* Logo Background Image */
.logo {
    position: relative;
    /* width: 211px;
    height: 48px; */
    background: transparent url("img/TestLogo.svg") no-repeat center center;
    background-size: contain; /* Ensures the logo fits within its container */
    /* top: 30px;
    left: 50px; */
    /* padding: 12px 32px; */
  }

.nav-links {
  display: none; /* Hide links on small screens, we could show it in a hamburger menu */
}

.navbar .ul-middle {
  list-style: none;
  display: flex;
  align-items: center;
  max-width: 663px;
  gap: 2px;
}

.navbar .ul-middle li{
    color: #072635;
    padding: 11px 16px;
    background-color:#01F0D0;
    border-radius: 41px;
    
}
.ul-middle li a{
   text-decoration: none;
   color: inherit;
   display: flex;
   align-items: center;
   gap: 5px;
   font-size: 14px;
}

.navbar .ul-end{
  list-style: none;
  display: flex;
  align-items: center;
}

.ul-end .text{
    /* margin-left: 8px; */
    margin: 3px 25px 3px 8px;
    font-size: 14px;
}

.text .top{
    color:  #072635;
}

.text .end{
    color: #707070;
}

.setting{
    margin-right: 15px;
}

.main-container{
    display: flex;
    /* justify-content: space-between; */
   
}

.patients-list{
    /* position: absolute; */
    margin: 32px 32px 0 0;
    max-width: 367px;
    background: #FFFFFF; 
    border-radius: 16px; 
    opacity: 1; 
    width: 367px;
    height: calc(100vh - 132px);  
    overflow-y: auto; 
    height: 1054px;
}

.search-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;    
    padding: 20px 20px 20px 20px;
    /* position: fixed; */
}


.search-bar input{
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;                     /* Font size */
    font-weight: 700;                    /* Font weight */
    line-height: 33px;                   /* Line height */
    letter-spacing: 0px;                 /* Letter spacing */
}

.search-bar input::placeholder{
    font: normal normal 800 18px/33px 'Manrope', sans-serif;
    letter-spacing: 0px;
    /* font-weight: 800; */
    color: #072635;       /* Placeholder text color */
    text-align: left;
}

#contact-list{
    display: flex;
    flex-direction: column;
}

.contact-item{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-item .left-end{
    display: flex;
    gap: 12px;
}

.contact-text{
    font-size: 14px;
    line-height: 19px;                  
    letter-spacing: 0px;
    opacity: 1;  
}
.contact-text .top{
    font-weight: bold;                            
    color: #072635;                                        
}

.contact-text .bottom{
    font-weight: normal;                /* Normal font weight */
    color: #707070;                     /* Text color */
}


.contact-item:hover{
    background: var(--activestate_bg_2, #D8FCF7) 0% 0% no-repeat padding-box;
    cursor: pointer;
}

.diagnosis-part{
  display: flex;
  flex-direction: column;
}


.diagnosis-design{
  padding: 20px;
  border-radius: 16px;
  opacity: 1;
  
  background-color: var(--color-white);
  margin-top: 32px;
  position: relative;
  /* background: var(white) 0% 0% no-repeat padding-box;  */
  
}



.diagnosis-history-heading{
  font: var(--font-style-normal) normal var(--font-weight-800) 
  var(--font-size-24)/var(--line-spacing-33) 
  var(--font-family-manrope);
  color: var(--color-black);
  letter-spacing: var(--character-spacing-0);
  opacity: 1;
}

#diagnosis-history{
  margin-right: 33px;
  width: 766px;
  height: 673px;
  
}

#diagnostic-list{
  width: 766px;
  height: 349px;
  /* padding: 20px; */
}

.diagnostic-list-heading{
  font: normal normal 800 24px/33px Manrope;
}

.charts{
  margin: 40px 0 20px 0;
}






.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.chart-container {
  width: 100%;
  display: flex;
  margin-top: 40px;
  /* align-items: center; */
  padding: 16px;
  background: #F4F0FE 0% 0% no-repeat padding-box;
  border-radius: 12px;
  opacity: 1;
  /* position: relative; */
}

.chart{
  width: 70%;
}

.chart-heading{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.bp-heading{
  height: 24px;
  font: normal normal bold 18px/24px Manrope;
  letter-spacing: 0px;
  color: var(--color-black);
}

.last-6-months{
  font: normal normal normal 14px/19px Manrope;
  letter-spacing: 0px;
  color: var(--color-black);
}

#bloodPressureChart {
  height: 300px;
  width:  60%;
}

/* .stats {
  padding: 10px;
  border-radius: 8px;
  text-align: right;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
} */

.stats{
  margin-left: 42px;
}
.point-line{
  display: flex;
  align-items: center;
}
.point{
    width: 14px;
    height: 14px;
    border: 1px solid #FFFFFF;
    border-radius: 100%;
}

#point-systolic{
  background-color: #E66FD2;
}
#point-diastolic{
  background-color: #8C6FE6;
}
.point-text{
  font: normal normal bold 14px/19px Manrope;
  letter-spacing: 0px;
}

.stats-bp{
   font: normal normal bold 22px/30px Manrope;
   margin-top: 8px;
   margin-bottom: 8px;
}

.stats-end{
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 33px;
}

.stats-end p{
  font: normal normal normal 14px/19px Manrope;
  
  letter-spacing: 0px;
}

.summary {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
}

.summary div {
  background-color: #f0f4f8;
  padding: 20px;
  border-radius: 10px;
  width: 30%;
  text-align: center;
}

h3 {
  margin-bottom: 10px;
  color: #333;
}

p {
  margin: 0;
}

.cards{
  margin-top: 20px;
  display: flex;
  gap: 21px;

}

.card{
    width: 228px;
    height: 242px;
    background: #E0F3FA 0% 0% no-repeat padding-box;
    border-radius: 12px;
    opacity: 1;
    padding: 16px;
}

.card-p1{
  padding-top: 16px;
  font: normal normal medium 16px/22px Manrope;
  letter-spacing: 0px;
  color: #072635;
  text-transform: capitalize;
  opacity: 1;
}

.card-p2{
  font: normal normal 800 30px/41px Manrope;
  letter-spacing: 0px;
}

.card-p3{
  padding-top: 17px;
  font: normal normal normal 14px/19px Manrope;
  letter-spacing: 0px;
  opacity: 1;
}

.card-temp{
  display: flex;
  gap: 8px;
  align-items: center;
}


/* table design */


table{
  width:100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.tbl-header{
  background-color: var(--color-gray);
  border-radius: 70px;
  margin-top: 40px;
  margin-bottom: 11px;
 }
.tbl-content{
  height:200px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}

.tbl-header th{
  padding: 15px 16px 14px 15px;
  text-align: left;
  font: normal normal 700 14px/19px Manrope; /* bold */
  color: var(--color-black);
  /* border-radius: 50%; */
}
.tbl-content td{
  padding: 11px 16px 10px;
  text-align: left;
  vertical-align:middle;
  font: normal normal 400 14px/19px Manrope; /* normal */
  color: var(--color-black);
  border-bottom: solid 1px rgba(255,255,255,0.1);
  border-radius: 50%; 
}

.patient-info{
  margin: 18px 17px 0 33px;

}


.profile-info-container{
  padding: 32px 20px;
  background: var(--color-white) 0% 0% no-repeat padding-box;
  border-radius: 16px;
  opacity: 1;
  width: 300px;
  margin-bottom: 32px;
}

.patient-image{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.patient-image p{
  margin: 24px 0 32px 0;
}

.patient-data{
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;

}

.patient-data  div p{
  font: normal normal 500 14px/19px Manrope;
  letter-spacing: 0px;
  color: var(--color-black);
  text-transform: capitalize;
  opacity: 1;
}

.patient-button-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.patient-data-button{
  width: 220px;
  height: 41px;
  background: #01F0D0 0% 0% no-repeat padding-box; /* Background color */
  border-radius: 41px;
  opacity: 1;
  border: none; /* Optional: to remove default button border */
  cursor: pointer; /* For a button-like interaction */
  font: normal normal bold 14px/19px Manrope;
}

.lab-results{
  padding: 20px;
  background: var(--color-white) 0% 0% no-repeat padding-box;
  border-radius: 16px;
  opacity: 1;
  width: 300px;
}
.lab-results p{
  margin-bottom: 16px;
  font: normal normal 800 24px/33px Manrope;
}
/* for custom scrollbar for webkit browser*/
.results-table{
  height:200px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
.results-table td{
  padding: 11px 16px;
  text-align: left;
  font: normal normal normal 13px/18px Manrope;
  letter-spacing: 0px;
  text-transform: capitalize;
}

.results-table tr:hover{
  background: #F6F7F8 0% 0% no-repeat padding-box;
}

#downloadIcon{
  text-align: right;
}
::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}


/* Larger Screens - Use media queries for responsiveness */
@media (min-width: 768px) {
  .navbar {
    max-width: 1564px;
    /* A more reasonable width for tablets and desktop */
    height: 72px;
    border-radius: 70px;
  }

  .nav-links {
    display: flex;
    list-style-type: none;
    gap: 20px; /* Add spacing between links */
  }

  .nav-links li a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .container {
    
  }
}