* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 14pt;
  background-color: var(--color-gray);
  margin: 18px;
  color: #072635;
}
.container {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  width: 100%;
  height: 72.5rem;
  background: #f6f7f8 0% 0% no-repeat padding-box;
  opacity: 1;
}

.navbar {
  position: fixed;
  width: 98%;
  max-width: 100vw;
  height: 4.5rem;
  background-color: #ffffff;
  border-radius: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  z-index: 999;
}

.logo {
  position: relative;
  background: transparent url("img/TestLogo.svg") no-repeat center center;
  background-size: contain;
}

#logo-image {
  height: 2.5vw;
  width: 11vw;
}

.nav-links {
  display: none;
}

.navbar .ul-middle {
  list-style: none;
  display: flex;
  align-items: center;
  max-width: 41.44rem;
  gap: 0.125rem;
}

.navbar .ul-middle li {
  color: #072635;
  padding: 0.6875rem 1rem;
  border-radius: 2.5625rem;
}
#patints-navlink {
  background-color: var(--color-cyan);
}
.ul-middle li a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 0.3125rem;
  font-size: 0.875rem;
}

.navbar .ul-end {
  list-style: none;
  display: flex;
  align-items: center;
}

.hamberger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--color-black);
}

.ul-end .text {
  margin: 0.1875rem 1.5625rem 0.1875rem 0.5rem;
  font-size: 0.875rem;
}

.text .top {
  color: #072635;
}

.text .end {
  color: #707070;
}

.setting {
  margin-right: 0.9375rem;
}

.main-container {
  display: flex;
  justify-content: space-between;
}

.patients-list {
  margin: calc(1.5vw + 72px) 1.5vw 1.5vw 0;
  background: #ffffff;
  border-radius: 1rem;
  opacity: 1;
  width: 22vw;
  min-width: 290px;
  height: calc(100vh - 132px);
  overflow-y: auto;
  white-space: nowrap;
  position: fixed;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem;
}

*/ .search-bar input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 2.0625rem;
  letter-spacing: 0rem;
}

.search-bar input::placeholder {
  font: normal normal 800 1.125rem/2.0625rem "Manrope", sans-serif;
  letter-spacing: 0px;
  color: #072635;
  text-align: left;
}

#contact-list {
  display: flex;
  flex-direction: column;
}

.contact-item {
  padding: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-item .left-end {
  display: flex;
  gap: 0.75rem;
}

.contact-text {
  font-size: 0.875rem;
  line-height: 19px;
  line-height: 1.1875rem;
  opacity: 1;
}
.contact-text .top {
  font-weight: bold;
  color: #072635;
}

.contact-text .bottom {
  font-weight: normal;
  color: #707070;
}

.contact-item:hover {
  background: var(--activestate_bg_2, #d8fcf7) 0% 0% no-repeat padding-box;
  cursor: pointer;
}

.diagnosis-part {
  display: flex;
  flex-direction: column;
  margin-top: 72px;
}

.diagnosis-design {
  padding: 1.25rem;
  border-radius: 16px;
  opacity: 1;

  background-color: var(--color-white);
  margin-top: 1.67vw;
  position: relative;
  margin-left: 23.5vw;
}

.diagnosis-history-heading {
  font: var(--font-style-normal) normal var(--font-weight-800)
    var(--font-size-24) / var(--line-spacing-33) var(--font-family-manrope);
  color: var(--color-black);
  letter-spacing: var(--character-spacing-0);
  opacity: 1;
}

#diagnosis-history {
  margin-right: 2vw;
  width: 47vw;
  height: 42vw;
}

.diagnostic-list-heading {
  font: normal normal 800 1.5rem/2.0625rem Manrope;
}

.charts {
  margin: 2.5rem 0 1.25rem 0;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

.chart-container {
  width: 100%;
  display: flex;
  margin-top: 2.5rem;
  padding: 1rem;
  background: #f4f0fe 0% 0% no-repeat padding-box;
  border-radius: 0.75rem;
  opacity: 1;
}

.chart {
  width: 70%;
}

.chart-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bp-heading {
  height: 1.5rem;
  font: normal normal bold 1.125rem/1.5rem Manrope;
  letter-spacing: 0rem;
  color: var(--color-black);
}

.last-6-months {
  font: normal normal normal 0.875rem/1.1875rem Manrope;
  letter-spacing: 0rem;
  color: var(--color-black);
}

#bloodPressureChart {
  height: 18.75rem;
  width: 60%;
}

.stats {
  margin-left: 2.625rem;
}
.point-line {
  display: flex;
  align-items: center;
}

.point {
  width: 0.875rem;
  height: 0.875rem;
  border: 0.0625rem solid #ffffff;
  border-radius: 100%;
}

#point-systolic {
  background-color: #e66fd2;
}
#point-diastolic {
  background-color: #8c6fe6;
}
.point-text {
  font: normal normal normal 0.875rem/1.1875rem Manrope;
  letter-spacing: 0px;
}

.stats-bp {
  font: normal normal bold 1.375rem/1.875rem Manrope;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.stats-end {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 2.0625rem;
}

.stats-end p {
  font: normal normal normal 0.875rem/1.1875rem Manrope;
  letter-spacing: 0px;
}

.summary {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
}

.summary div {
  background-color: #f0f4f8;
  padding: 20px;
  border-radius: 10px;
  width: 30%;
  text-align: center;
}

h3 {
  margin-bottom: 10px;
  color: #333;
}

p {
  margin: 0;
}

.cards {
  margin-top: 1.25rem;
  display: flex;
  gap: 1.3125rem;
  flex-wrap: wrap;
}

.card {
  width: 14.25rem;
  height: 15.125rem;
  background: #e0f3fa 0% 0% no-repeat padding-box;
  border-radius: 0.75rem;
  opacity: 1;
  padding: 1rem;
}

.card-p1 {
  padding-top: 16px;
  font: normal normal medium 16px/22px Manrope;
  letter-spacing: 0px;
  color: #072635;
  text-transform: capitalize;
  opacity: 1;
}

.card-p2 {
  font: normal normal 800 1.875rem/2.5625rem Manrope;
  letter-spacing: 0px;
}

.card-p3 {
  padding-top: 1.0625rem;
  font: normal normal normal 0.875rem/1.1875rem Manrope;
  letter-spacing: 0px;
  opacity: 1;
}

.card-temp {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

/* table design */

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.tbl-header {
  background-color: var(--color-gray);
  border-radius: 4.375rem;
  margin-top: 2.5rem;
  margin-bottom: 0.6875rem;
}

.tbl-content {
  height: 200px;
  overflow-x: auto;
  margin-top: 0px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.tbl-header th {
  padding: 0.9375rem 1rem 0.875rem 0.9375rem;
  text-align: left;
  font: normal normal 700 0.875rem/1.1875rem Manrope; /* bold */
  color: var(--color-black);
  /* border-radius: 50%; */
}

.tbl-content td {
  padding: 0.6875rem 1rem 0.625rem;
  text-align: left;
  vertical-align: middle;
  font: normal normal 400 0.875rem/1.1875rem Manrope;
  color: var(--color-black);
  border-bottom: solid 0.0625rem rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.patient-info {
  margin: calc(72px + 0.9375vw) 0 0 1.7188vw;
}

.profile-info-container {
  padding: 32px 20px;
  background: var(--color-white) 0% 0% no-repeat padding-box;
  border-radius: 1rem;
  opacity: 1;
  margin-bottom: 32px;
}

.patient-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.patient-image p {
  margin: 1.5rem 0 2rem 0;
}

.patient-data {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.patient-data div p {
  font: normal normal 500 0.875rem/1.1875rem Manrope;
  letter-spacing: 0;
  color: var(--color-black);
  text-transform: capitalize;
  opacity: 1;
}

.patient-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.patient-data-button {
  width: 13.75rem;
  height: 2.5625rem;
  background: #01f0d0 0% 0% no-repeat padding-box;
  border-radius: 2.5625rem;
  opacity: 1;
  border: none;
  cursor: pointer;
  font: normal normal bold 0.875rem/1.1875rem Manrope;
}

.lab-results {
  padding: 1.25rem;
  background: var(--color-white) 0% 0% no-repeat padding-box;
  border-radius: 1rem;
  opacity: 1;
  width: 18.75rem;
}

.lab-results p {
  margin-bottom: 1rem;
  font: normal normal 800 1.5rem/2.0625rem Manrope;
}

.results-table {
  height: 12.5rem;
  overflow-x: auto;
  margin-top: 0;
  border: 0.0625rem solid rgba(255, 255, 255, 0.3);
}

.results-table td {
  padding: 0.6875rem 1rem;
  text-align: left;
  font: normal normal normal 0.8125rem/1.125rem Manrope;
  letter-spacing: 0;
  text-transform: capitalize;
}

.results-table tr:hover {
  background: #f6f7f8 0% 0% no-repeat padding-box;
}

#downloadIcon {
  text-align: right;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .logo {
    display: none;
  }

  .hamberger {
    display: block;
  }

  .hamberger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamberger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamberger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .ul-middle {
    position: fixed;
    left: -100%;
    top: 95px;
    gap: 0;
    flex-direction: column;
    background-color: var(--color-white);
    width: 100%;
    text-align: center;
    transition: 0.3s ease-in-out;
    width: 100%;
    border-radius: 20px;
    width: 90%;
    max-width: 100vw;
  }

  .ul-middle li {
    margin: 16px 0;
  }

  .ul-middle.active {
    left: 5%;
    margin: 0;
  }

  .ul-middle li:hover {
    background-color: var(--color-cyan);
  }
}
/* Larger Screens - Use media queries for responsiveness */
@media (min-width: 768px) {
  .navbar {
    max-width: 1564px;
    height: 72px;
    border-radius: 70px;
    position: fixed;
  }

  .nav-links {
    display: flex;
    list-style-type: none;
    gap: 20px;
  }

  .nav-links li a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
  }
}

/* Extra small devices (phones in portrait) */
@media (max-width: 480px) {
  .container {
    width: 100%;
    padding: 10px;
  }
}

/* Small devices (phones in landscape, small tablets) */
@media (min-width: 481px) and (max-width: 768px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }

  .diagnosis-design {
    /* margin-left: calc(290px + 1.5vw); */
    overflow-x: auto;
    overflow-y: auto;
  }

  .chart-container {
    flex-direction: column;
    gap: 10px;
    padding-bottom: 0;
  }

  .cards {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .chart {
    width: 100%;
  }

  .patient-info {
    margin-top: 1.5vw;
    gap: 1.5vw;
    z-index: 5;
    margin-left: calc(200px + 1.5vw);
  }

  .profile-info-container {
    width: 45vw;
  }
  .lab-results {
    width: 13rem;
    height: 300px;
  }
}

/* Medium devices (tablets, larger phones) */
@media (min-width: 769px) and (max-width: 1024px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }
  .diagnosis-design {
    margin-left: calc(290px + 1.5vw);
  }

  .patient-info {
    display: flex;
    justify-content: space-between;
    margin-left: calc(290px + 1.5vw);
    gap: 10px;
  }

  .chart-container {
    flex-direction: column;
    gap: 10px;
    padding-bottom: 0;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }

  .chart {
    width: 100%;
  }

  .patient-info {
    margin-top: 1.5vw;
    gap: 1.5vw;
  }

  .profile-info-container {
    width: 45vw;
  }
  .lab-results {
    width: 30rem;
    height: 300px;
  }

  .ul-end .text {
    display: none;
  }

  .ul-end img {
    margin-right: 10px;
  }

  .navbar {
    position: fixed;
  }
  .patients-list {
    margin: calc(1.5vw + 72px) 1.5vw 1.5vw 0;
  }

  .diagnosis-part {
    flex-direction: column;
  }

  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .patient-info {
    display: flex;
    justify-content: space-between;
    margin-left: calc(290px + 1.5vw);
    width: 50vw;
    gap: 10px;
    margin-top: 1.5vw;
  }

  .profile-info-container {
    width: 45vw;
  }
  .lab-results {
    width: 30rem;
    height: 300px;
  }
}

/* Large devices (small laptops, desktops) */
@media (min-width: 1025px) and (max-width: 1300px) {
  .main-container {
    flex-direction: column;
  }

  .diagnosis-design {
    margin-left: calc(290px + 1.5vw);
  }

  .cards {
    justify-content: space-between;
  }

  @media (min-width: 1025px) and (max-width: 1113px) {
    .card {
      width: 12.25rem;
      height: 15.125rem;
    }
  }

  .ul-end .text {
    display: none;
  }

  .ul-end img {
    margin-right: 1.5625rem;
  }

  .patient-info {
    display: flex;
    justify-content: space-between;
    margin-left: calc(290px + 1.5vw);
    width: 50vw;
    gap: 10px;
    margin-top: 1.5vw;
  }

  .profile-info-container {
    width: 45vw;
  }
  .lab-results {
    width: 30rem;
    height: 300px;
  }
}
