:root {
  --color-white: #ffffff;
  --font-style-normal: normal;
  --font-weight-800: 800;
  --font-size-24: 24px;
  --line-spacing-33: 33px;
  --character-spacing-0: 0px;
  --color-black: #072635;
  --color-gray: #f6f7f8;
  --color-cyan: #01f0d0;
  --color-background: #f6f7f8;
}
